.nav-content {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.nav-links {
    text-decoration: none;
    color: white;
}

.nav-links:hover {
    color: black;
}

.shopping-cart-article-holder {
    display: flex;
    position: fixed;
    right: 10%;
    align-items: center;
    text-align: center;
}

.shopping-cart-article-holder:hover {
    transform: scale(1.1);
    color: black;
}

.shopping-cart-article-counter {
    display: block;
    position: relative;
    bottom: 10%;
    right: -15%;
    color: black;
    font-size: 1.5rem;
    width: 2rem;
    background-color: rgb(197, 131, 7);
    border-radius: 50%;
}

.cart-svg {
    display: flex;
    background-color: white;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cart {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(81, 88, 94);
    height: 95%;
    width: 30%;
    border-left: .5rem solid rgb(61, 110, 167);
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow-y: scroll;
}

.toggle-cart-display {
    display: none;
}

.shopping-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-cart-header-container {
    
}

.close-shopping-cart {
    position: absolute;
    top: 3.2%;
    left: 70%;
    width: 20%;
    cursor: pointer;
    color: black;
    border: .2rem solid black;
    background-color: white;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: 700;
}

.shopping-cart-headline {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.shopping-cart-article-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.shopping-cart-image-container {
    display: flex;
    width: 50%;
}

.shopping-cart-img {
    width: 10vw;
    object-fit: contain;
    object-position: 0% 20%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    align-self: center;
}

.shopping-cart-item {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10%;
}

.shopping-cart-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.shopping-cart-product-amount-container {
    position: relative;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    font-size: 3rem;
}

.shopping-cart-product-amount-control {
    position: relative;
    bottom: .5vh;
    cursor: pointer;
    width: 2rem;
}

.shopping-cart-product-amount {
    padding: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    width: 3rem;
    border: .15rem solid rgb(212, 212, 212);
    background-color: rgb(70, 70, 70);
    text-align: center;
    font-size: 2rem;
}

.shopping-cart-remove-product {
    font-size: 1rem;
    padding: .5rem;
    width: fit-content;
    align-self: center;
    background-color: rgb(176, 176, 176);
    color: black;
    border: .2rem solid black;
    border-radius: .5rem;
    cursor: pointer;
    align-self: center;
}

.shopping-cart-total-price-amount {
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.shopping-cart-proceed-to-checkout {
    padding: 1rem;
    background-color: rgb(181, 191, 196);
    border-radius: 1rem;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    margin-bottom: 3rem;
}