.shop-product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-bg-color-2);
}

.shop-product-details-header-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 10vh;
  margin: 1rem;
  font-size: 1rem;
}

.product-details-back-link-container {
  grid-area: 2 / 1 / 2 / 1;
  justify-self: left;
  margin-left: 20%;
  width: fit-content;
  cursor: pointer;
}

.product-details-back-link {
  color: var(--main-bg-color-2);
  font-size: 1.5rem;
}

.product-details-back-link:hover {
  color: var(--accent-color-1);
}

.current-location-navigation-links {
  grid-area: 1 / 1 / 1 / 1;
  width: 100%;
}

.shop-product-details-nav-Link {
  color: var(--main-bg-color-2);
}

.shop-product-details-nav-Link:hover {
  text-decoration: none;
  color: var(--accent-color-1);
}

span {
  color: var(--main-bg-color-2);
}

.product-details-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.product-info {
  display: flex;
  gap: 10%;
}

.product-image-container {
  border-radius: 1rem;
}

.product-image {
  width: 25vw;
  height: 70vh;
  object-fit: contain;
  object-position: center;
  border-radius: 0.5rem;
}

.product-images-selection-container {
  display: flex;
  position: relative;
  bottom: 10%;
  gap: .5rem;
}

.images-selection-holder {
  height: 10vh;
  width: 5vw;
  cursor: pointer;
}

.images-selection-image {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--main-bg-color-2);
  gap: 2rem;
}

.product-details-info-container  {
  display: grid;
  grid-template: auto / 1fr 1fr;
  justify-content: space-between;
  justify-items: left;
  align-items: center;
  align-content: space-between;
  width: 100%;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--main-bg-color-2);
  gap: 2rem;
}

.product-details-selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  position: relative;
  top: 10%;
  justify-self: center;
}

.product-details-selections-titles {
  font-size: 1.5rem;
  font-weight: 600;
}

.size-selection-option {
  width: 18rem;
}

.product-name {
  font-size: 2.5rem;
  font-weight: 700;
}

.product-category {
  font-size: 1.5rem;
}

.product-price {
  font-size: 2.5rem;
  font-weight: 700;
}

.product-price-dollar {
  color: var(--accent-color-2);
}

.product-amount-to-order-container {
  display: flex;
  gap: 1rem;
}

.product-amount-control {
  cursor: pointer;
}

.product-amount {
  height: 3rem;
  width: 4rem;
  font-size: 2rem;
  text-align: center;
}

.product-cart-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.product-add-to-cart {
  padding: 1rem;
  background-color: var(--main-bg-color-1);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--main-bg-color-2);
  cursor: pointer;
  color: var(--main-bg-color-2);
}

.product-proceed-to-checkout {
  padding: 1rem;
  background-color: var(--main-bg-color-2);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--main-bg-color-2);
  cursor: pointer;
  color: var(--main-bg-color-1);
  text-decoration: none;
}

.product-summary-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-summary-title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: .2rem solid var(--main-bg-color-2);
}

.product-summary-content {
  font-size: 1.5rem;
}

.product-amount-to-order-container {
  display: flex;
}

.product-reviews-container {
  display: flex;
  flex-direction: column;
  border-top: .5rem solid var(--accent-color-1);
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-reviews-header {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.product-reviews-header-title {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}

.product-reviews-list {
  display: flex;
  flex-direction: column;
  border-bottom: .2rem solid var(--accent-color-1);
  padding-bottom: 2rem;
  gap: 1rem;
}

.product-review-item {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  border-top: .1rem solid var(--main-bg-color-2);
}

.product-create-review-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.product-create-review {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 5fr;
  align-content: left;
  gap: .5rem;
}

input {
  width: 15rem;
  font-size: 1.25rem;
}

select {
  width: 12rem;
  font-size: 1.25rem;
}

.product-create-info {
  font-size: 1.5rem;
  text-align: end;
}

.product-create-review-textarea {
  font-size: 1.5rem;
  padding: .5rem;
  height: fit-content;
  width: 50%;
}

.product-create-review-submit-button {
  padding: 1rem;
  background-color: var(--main-bg-color-1);
  color: var(--main-bg-color-2);
  border: .1rem solid var(--main-bg-color-2);
  border-radius: .5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}
