.product-details-back-link{
    text-decoration: none;
    color: var(--main-bg-color-2);
    position: relative;
    bottom: 20%;
    height: fit-content;
    width: fit-content;
}

.product-details-back-link:hover {
    color: var(--accent-color-1);
}

.product-info {
    display: flex;
    gap: 10%;
}

.product-image-container { 
    border-radius: 1rem;
}

.product-image {
    width: 25vw;
    height: 70vh;
    object-fit: contain;
    object-position: 50% 50%;
    border-radius: .5rem;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--main-bg-color-2);
    gap: 2rem;
}

.product-name {
    font-size: 2.5rem;
    font-weight: 700;
}

.product-category {
    font-size: 1.5rem;
}

.product-price {
    font-size: 2.5rem;
    font-weight: 700;
}

.product-amount-to-order-container {
    display: flex;
    gap: 1rem;
}

.product-amount-control {
    cursor: pointer;
}

.product-amount {
    height: 3rem;
    width: 4rem;
    font-size: 2rem;
    text-align: center;
}

.product-cart-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.product-add-to-cart {
    padding: 1rem;
    background-color: var(--accent-color-2);
    border-radius: .5rem;
    border: .2rem solid var(--main-bg-color-2);
    cursor: pointer;
    color: var(--main-bg-color-2);
}

.product-proceed-to-checkout {
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    border-radius: .5rem;
    border: .2rem solid var(--main-bg-color-2);
    cursor: pointer;
    color: var(--main-bg-color-2);
    text-decoration: none;
}

.product-summary-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-amount-to-order-container {
    display: flex;
}