body::-webkit-scrollbar {
  display: block;
}

html {
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #696a7d;
}

::-webkit-scrollbar-thumb {
  background: #15233c;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(157, 175, 200);
}

.App {
  display: grid;
  grid-template: auto 14fr auto / 1fr;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-nav-bar {
  grid-area: 1 / 1 / 1 / 1;
  border-bottom: 0.1rem solid white;
  height: 100%;
  padding: 2rem;
}

.app-content-container {
  grid-area: 2 / 1 / 2 / 1;
  background-color: #262733;
  min-height: 100%;
}

.app-footer {
  grid-area: 3 / 1 / 3 / 1;
  border-top: 0.1rem solid white;
  padding: 1rem;
}
